@charset "UTF-8";

div.card-body {
	font-size: 0.9rem;
}

td {
	text-align: center;
}

.breadcrumb {
	margin: 0;
}

.breadcrumb-item.active {
	color: #343a40;
	font-weight: 700;
}

.breadcrumb-item {
	color: #6c757d;
}

.breadcrumb-item a {
	color: #6c757d;
}

.card-title {
	font-weight: 600;
}

h1 {
	font-weight: 200;
}
